ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1976D2;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
}
h1 {
    text-align: center;
}
